.loading-spinner-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 29, 43, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
  }
  
  .loading-spinner {
    width: 40px;
    height: 40px; 
    animation: spin 1s linear infinite; 
  }
  